[submodule "thirdparty/droid_slam"]
	path = thirdparty/droid_slam
	url = https://github.com/princeton-vl/DROID-SLAM.git
[submodule "examples/realsense/thirdparty/dpvo"]
	path = examples/realsense/thirdparty/dpvo
	url = https://github.com/princeton-vl/DPVO.git
